
/* style.css - AUTHOR: Erik Mudrak, 2017 */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


/* ----------------------- GENERAL STYLES ------------------------ */

html, body {
  margin: 0;
  padding: 0;
}

p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}

.container {
	width: 100vw;
	height: 100vh;
}

/* ----------------------- MENU BAR STYLES ------------------------ */

.menuBar {
  width: 100%;
  height: 10%;
  background-color: black;
}

.logo {
  width: 4em;
  float: left;
  margin-left: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em; 
}

.citySelector {
  display: block;
  height: 100%;
  margin: auto;
}

/* ----------------------- HEADING STYLES ------------------------ */

.header {
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
  height: 15%;
  font-family: 'Montserrat', sans-serif;
  color: #f25f23;
  font-weight: 700;
  font-size: 6em;
  letter-spacing: 0.15em;
}

.demandLabel {
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
  color: #f25f23;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.detailsLabel {
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: gray;
}

.orderContainer {
  width: 100%;
  margin-top: 1em;
}

.orderButton {
  width: 9em;
  display: block !important;
  margin: auto !important;
}

.peakLabel {
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
  z-index: 2;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: gray;
  margin-top: 3em;
  margin-bottom: -3.75em;
}

/* ----------------------- FORECAST STYLES ------------------------ */

.chart {
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 0.25em;
  margin-bottom: 1em;
}

.xAxis {
  font-family: 'Montserrat', sans-serif !important;
}

.daySelectorContainer {
  width: 100%;
  position: fixed;
  bottom: 0;
}


/* ----------------------- DEMAND STATUS STYLES ------------------------ */

.demandContainer {
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 1em;
}

.burgerIcon {
  width: 5em;
  display: inline-block;
  margin: auto;
}

.statusLabelContainer {
  height: 100%;
  display: inline-block;
  margin-left: 1em;
}

.statusDesc {
    width: 100%;
    display: block;
    margin: auto;
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1em; 
}

.statusLabel {
  width: 100%;
  display: block;
  margin: auto;
  color: #f25f23;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 2em; 

}

/* ----------------------- RESPONSIVE STYLES ------------------------ */

@media all and (max-width: 875px) and (max-device-width: 875px) {
  .header { font-size: 5em; letter-spacing: 0; }
}
@media all and (max-width: 615px) and (max-device-width: 615px) {
  .header { font-size: 4em; }
}
@media all and (max-width: 500px) and (max-device-width: 500px) {
  .header {
    font-size: 3.5em;
    margin-bottom: -0.5em;
  }
  .demandLabel {
    font-size: 1.5em;
    margin-top: 0;
  }
  .chart { margin-left: -2em; }
}

@media all and (max-width: 430px) and (max-device-width: 430px) {
  .header {
    font-size: 2.5em;
    margin-bottom: -0.5em;
  }
  .detailsLabel { font-size: 0.9em; }
  .logo { width: 3.5em; margin-top: 0.75em; margin-left: 0.75em; margin-bottom: 0.25em; }
}

@media all and (max-width: 370px) and (max-device-width: 370px) {
  .peakLabel { margin-bottom: -2.75em; margin-top: 1.5em; background-color: white; }
  .logo { width: 3.25em; margin-top: 0.5em; margin-left: 0.75em; margin-bottom: 0.5em; }

}


